@import "services_styles.less";

#services {
  color: #7a7979;
  transition: all 0.7s;

  &:hover {
    color: #030303;
    transition: all 0.7s;
  }
}

#blog {
  color: #030303;
}

#service2 {
  margin-top: 0.5%;
}
#service3 {
  margin-top: 7%;
}

#mob_general_text {
  display: none;
}

.column {

  &.short {

    &.middle {

      .col_content {
        width: 95%;
        margin-top: 9%;

        nav {
          border-bottom: none;

          a {
            display: block;

            h2 {
              margin-bottom: 3%;
              transition: all 0.7s;
            }

            p {
              font-style: italic;
              line-height: 1.43;
              margin-top: 0;
              margin-bottom: 18%;
              transition: all 0.7s;
            }

            &:hover {
              h2, p {
                color: #030303;
                transition: all 0.7s;
              }
            }

            &.active {
              h2, p {
                color: #030303;
              }
            }
          }
        }
      }
    }
  }

  &.long {

    .col_content{

      #img2 {
        vertical-align: bottom;
      }

      table {

        h1 {
          width: 79%;
          margin-bottom: 0;
          font-size: 18px;
          color: #030303;
        }

        td:nth-child(odd) {
          width: 51%;
        }
      }
    }
  }
}


@media screen and (max-width: 768px) {

  #general_text {
    display: none;
  }

  #mob_general_text {
    display: block;
    width: 90%;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  #menu.open_menu {
    height: 35%;
    top: 10%;
  }

  .column{

    &.short {

      &.left {
        z-index: 999;
      }

      &.middle {

        .col_content {
          nav {
            a p {
                margin-bottom: 2%;
              }
            }
          }
        }
      }

    &.long {
      display: none;
    }
  }


}