BODY {
  margin: 0;
  background-color: #ffffff;
}
h1,
h2,
h3,
p,
a,
td {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  text-align: left;
  color: #7a7979;
  text-decoration: none;
}
#wrapper {
  display: flex;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
}
.logo {
  display: flex;
  align-content: flex-start;
  align-items: center;
  padding: 0;
  max-height: 45px;
}
.logo h1 {
  width: 141px;
  margin-left: 15px;
  padding-bottom: 1px;
  font-weight: normal;
  color: #9b9b9b;
}
#burger div {
  width: 25px;
  height: 1px;
  background-color: #030303;
}
#menu {
  display: none;
}
#scroller::-webkit-scrollbar {
  display: none;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  height: 100vh;
  padding-top: 1.4%;
}
.column.short {
  height: 100vh;
  border-right: solid 0.5px #d9d9d9;
}
.column.short.left {
  width: 21.5%;
  min-width: 215px;
  padding-left: 1.4%;
}
.column.short.left .col_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.column.short.left .col_content nav {
  display: flex;
  flex-direction: column;
  margin-top: 17.2%;
  margin-bottom: -1.8%;
}
.column.short.left .col_content nav a {
  margin-top: 1.8%;
  margin-bottom: 1.8%;
}
.column.short.left .col_content nav a:hover {
  color: #030303;
}
.column.short.left .col_content nav #about {
  display: none;
}
.column.short.left .col_content nav #about .proj_preview {
  display: block;
}
.column.short.left .col_content FOOTER {
  align-self: flex-start;
  width: 90%;
  margin-bottom: 19%;
  font-weight: 300;
}
.column.short.left .col_content FOOTER h3 {
  margin-bottom: 8%;
  font-family: Roboto, sans-serif;
}
.column.short.left .col_content FOOTER p {
  font-size: 14px;
  line-height: 1.43;
}
.column.short.middle {
  width: 26%;
  height: 100vh;
  padding-left: 3.4%;
  padding-right: 3.3%;
  /*overflow: hidden;*/
  overflow-y: scroll;
  min-width: 309px;
}
.column.short.middle .logo {
  height: 43px;
}
.column.short.middle .col_content {
  max-width: 290px;
}
.column.short.middle .col_content h1 {
  margin-top: 18.2%;
  margin-bottom: 6.26%;
  font-family: Roboto, sans-serif;
  font-weight: 300;
}
.column.short.middle .col_content h1 span {
  font-size: 14px;
  color: #7a7979;
}
.column.short.middle .col_content p {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  line-height: 1.5;
}
.column.short.middle .col_content p span {
  font-size: 16px;
}
.column.short.middle #hover_project1,
.column.short.middle #hover_project2,
.column.short.middle #hover_project3,
.column.short.middle #hover_project4 {
  display: none;
}
.column.short.middle #hover_project1.proj_preview,
.column.short.middle #hover_project2.proj_preview,
.column.short.middle #hover_project3.proj_preview,
.column.short.middle #hover_project4.proj_preview {
  display: flex;
}
.column.short.middle .proj_preview {
  margin-top: 11.5%;
}
.column.short.middle .proj_preview p {
  min-width: 290px;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  line-height: 1.5;
}
.column.short.middle .proj_preview span {
  color: #030303;
}
.column #general_text.proj_preview {
  display: none;
}
.column #about.proj_preview {
  display: block;
}
.column #general_text.scrolled {
  display: none;
}
.column.long {
  display: flex;
  flex-direction: column;
  width: 53.5%;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  overflow-y: scroll;
}
.column.long .logo {
  width: 100%;
  height: 43px;
}
.column.long .col_content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 7.2% -1.4% -1.4% -1.4%;
  padding: 0;
}
.column.long .col_content img {
  align-self: center;
  margin: 10px;
  filter: grayscale(100%);
}
.column.long .col_content img:hover {
  filter: none;
  transition: all 0.3s;
}
.column.long .col_content img:nth-of-type(3n+1) {
  width: 97%;
  flex: 0 0 97%;
}
.column.long .col_content img:nth-of-type(3n+2),
.column.long .col_content img:nth-of-type(3n+3) {
  width: 47%;
  flex: 2 2 47%;
}
@media screen and (min-width: 769px) {
  #burger {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  #wrapper {
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
  }
  .column.short.middle {
    width: 100%;
  }
  .column.short.middle #hover_project1.proj_preview,
  .column.short.middle #hover_project2.proj_preview,
  .column.short.middle #hover_project3.proj_preview,
  .column.short.middle #hover_project4.proj_preview {
    display: none;
  }
  .column.short.middle #general_text.proj_preview {
    display: block;
  }
  #menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: -100%;
  }
  #menu.open_menu {
    height: 26%;
    top: 8%;
    background-color: #ffffff;
    transition: top 0.7s;
    z-index: 999;
  }
  #menu.open_menu nav {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-top: 2%;
    margin-right: 5%;
    margin-bottom: -1.8%;
  }
  #menu.open_menu nav a {
    margin-top: 1.8%;
    margin-bottom: 1.8%;
  }
  #menu.open_menu footer {
    width: 32%;
  }
  #menu.open_menu footer h3 {
    margin-bottom: 2%;
    font-family: Roboto, sans-serif;
  }
  #menu.open_menu footer p:first-of-type {
    display: none;
  }
  #menu.open_menu footer #small_contacts {
    display: block;
    font-size: 12px;
  }
  .column.short {
    border: none;
  }
  .column.short.left {
    height: 8%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: absolute;
  }
  .column.short.left .col_content {
    display: none;
    position: absolute;
    top: -100%;
    /*z-index: 999;*/
  }
  .column.short.middle {
    height: 70%;
  }
  .column.short.middle .col_content {
    max-width: 100%;
    height: 70%;
  }
  .column.short.middle .col_content h1 {
    margin-top: 10.2%;
  }
  .column.long {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    margin-bottom: 3%;
  }
  .column.long .col_content {
    margin-top: 0;
  }
  #burger {
    display: block;
    position: absolute;
    left: 91%;
    top: 37%;
    margin-top: -5px;
    margin-bottom: -5px;
  }
  #burger div {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
#services {
  color: #030303;
}
.column.short.left {
  width: 24.5%;
}
.column.short.left .col_content nav {
  margin-top: 15.2%;
}
.column.short.left .col_content nav #about {
  display: block;
}
.column.short.left .col_content FOOTER p {
  width: 93%;
}
.column.short.middle {
  padding-right: 2.1%;
}
.column.short.middle .col_content h1 {
  margin-bottom: 7.26%;
}
.column.short.middle .col_content nav {
  border-bottom: solid 1px #d9d9d9;
}
.column.short.middle .col_content nav a {
  display: block;
  margin-top: 7.5%;
  margin-bottom: 7.5%;
  line-height: 1.5;
  letter-spacing: normal;
}
.column.short.middle .col_content nav a:last-child {
  margin-bottom: 15%;
}
.column.short.middle .col_content nav a:hover {
  color: #030303;
}
.column.short.middle .col_content nav a.active {
  color: #030303;
}
.column.short.middle .col_content p {
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: normal;
}
.column.long {
  width: 49.5%;
}
.column.long .col_content {
  margin: 7% -3.5% -1.4% -3.5%;
  display: none;
}
.column.long .col_content.active {
  display: block;
}
#service2,
#service3,
#service4,
#service5 {
  margin-top: 1%;
}
table {
  border-spacing: 25px 20px;
}
table td {
  vertical-align: top;
  width: 50%;
  font-size: 14px;
  line-height: 1.57;
}
table td:nth-child(odd) {
  width: 49%;
  padding-top: 1.6%;
}
table td h2 {
  font-size: 18px;
  line-height: 1.33;
  color: #030303;
}
@media screen and (max-width: 768px) {
  #general_text {
    display: none;
  }
  #mob_general_text h1 {
    margin-bottom: 4.26%;
  }
  #mob_general_text a {
    margin: 0;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
  }
  .column.short.left {
    width: 100%;
    z-index: 999;
  }
  .column.long {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  BODY {
    max-width: 760px;
    overflow-x: hidden;
  }
  #wrapper {
    display: flex;
    flex-direction: column;
  }
  #menu.open_menu {
    height: 35%;
    top: 10%;
  }
  #mob_general_text {
    display: block;
    margin-left: 0;
    margin-right: 0;
  }
  #mob_general_text h1 {
    color: #030303;
  }
  #mob_general_text h2 {
    color: #030303;
  }
  #mob_general_text p {
    width: 97%;
    margin-left: 1.5%;
    font-size: 14px;
  }
  #mob_general_text img {
    width: 100%;
    margin-left: 1.5%;
  }
}
.column.short.middle {
  display: none;
}
.column.long {
  display: flex;
  flex-direction: column;
  width: 97%;
}
.column.long .col_content {
  margin-left: 0;
  margin-right: 0;
}
